# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
[Bootstrap]
Zip=Media/packs/OgreCore.zip
Zip=Media/packs/SdkTrays.zip

[General]
FileSystem=Media
FileSystem=Media/Bloom
FileSystem=Media/materials/programs
FileSystem=Media/materials/scripts
FileSystem=Media/materials/textures
FileSystem=Media/models

[Terrain]
FileSystem=Media/Terrain/programs
FileSystem=Media/Terrain/scripts
FileSystem=Media/Terrain/textures

[Hydrax]
FileSystem=Media/Hydrax

[SkyX]
FileSystem=Media/SkyX